<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>MyCodeBlog</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          
    </head>

    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Blog da Lili</span>                        
            </nav>
        </header>
    <Center>
        <p>   <img th:src="@{/imgs/WhatsApp Image 2017-06-04 at 17.06.17.jpeg}" class="img-responsive"/></p>
        <div>Segunda Igreja Batista no Recanto das Emas - DF</div>
        <a href="/posts">Post</a></br>
    </Center>
</body>
</html>
